body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.product {
    cursor: pointer;
    position: relative;
    padding-bottom: 100px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}
img{
	width: 100%;
}
.inlineBlock{
	 display: inline-block;
}   
.product .stats-container {
    background: #fff;
    padding: 25px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.product .stats-container .product_price {
    float: right;
    color: #48cfad;
    font-size: 22px;
    font-weight: 600;
}
.product .stats-container .product_name {
    font-size: 22px;
    color: #393c45;
}
.product .stats-container p {
    font-size: 16px;
    color: #b1b1b3;
    margin: 0;
}
.product .image_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #48cfad;
    opacity: 0;
    position: absolute;
}
.product .image_overlay:hover{
	position: absolute;
	opacity: 0.7;
}
.product:hover .view_details {
      opacity: 1;
      width: 152px;
      font-size: 15px;
      margin-left: -75px;
      top: 35%;
      -webkit-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; 
  }
  .product .view_details:hover {
    background: #fff;
    color: #48cfad;
    cursor: pointer;
}
.product .view_details {
    top: 112px;
    left: 50%;
    margin-left: -85px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    width: 172px;
}
.product:hover .image_overlay {
    opacity: 0.7;
}
.product .image_overlay, .product .view_details {
    position: absolute;
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}